.game {
    background-color: #711A75;
    margin: 5em;
    padding: 1.5em;
    border-radius: 16px;
    color: white;
}

.game-code {
    margin: 1.5em;
    background-color: #F582A7;
    font-size: 24px;
    border: none;
    border-radius: 6px;
    color: rgb(97, 97, 97)
}

.game button {
    margin-bottom: 2em;
    align-items: center;
    width: 20%;
    background-color: #F10086;
    border: none;
    border-radius: 6px;
    color:#711A75;
    float: right;
    cursor: pointer;
}