.card {
    box-shadow: 0 4px 8px 0 black;
    color: #180A0A;
    transition: 1s;
    border-radius: 1em;
    background: #F582A7;
    margin-bottom: 2em;
    padding: 8px;
    height: 5em;
    /* display: flex; */
    cursor: pointer;
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.player_name {
    margin-left: .2em;
}

.card:hover {
    height: 15em;
    background-color: #fbbcd0;
    box-shadow: 0 10px 18px 0 black;
}

.card .mainPanel {
    display: flex;
}

.card.is-it {
    background-color: rgb(142, 255, 255);
    width: 100%;
}

.card.is-it:hover {
    background-color: rgb(199, 252, 252);
}

.profile-picture > img {
    width: 65%;
    height: auto;
    margin: auto;
}

.profile-picture {
    background-color: bisque;
    border-radius: 50%;
    padding: .1em;
    width: 5em;
    height: 5em;
    min-width: 5em;
    display: flex;
  justify-content: center;
}

.extra-player-info {
    padding: 0 18px;
    border-radius: 16px;
    background-color: #f1f1f1;
}

.tag-button-div {
      width: 100%;
  }

  .players_div {
      text-align: center;
  }