.card {
    box-shadow: 0 4px 8px 0 black;
    color: #180A0A;
    transition: 1s;
    border-radius: 16px;
    background: #F582A7;
    margin-bottom: 2em;
    padding: 8px;
    height: 5em;
    /* display: flex; */
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    height: 15em;
    background-color: #fbbcd0;
    box-shadow: 0 10px 18px 0 black;
}

.card .mainPanel {
    display: flex;
}

.card.is-it {
    background-color: rgb(142, 255, 255);
}

.card.is-it:hover {
    background-color: rgb(199, 252, 252);
}

.profile-picture > img {
    width: 100%;
    height: auto;
}

.profile-picture {
    width: 5em;
    height: 5em;
}

.extra-player-info {
    padding: 0 18px;
    border-radius: 16px;
    background-color: #f1f1f1;
}

.tag-button-div {
      width: 100%;
  }