.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    text-align: left;
    color: #F582A7;
    margin: 3em;
    padding: 3em;
    border-radius: 5em;
    min-height: 25rem;
    background-color: #711A75;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #F582A7;
    background-clip: padding-box;
    border: 1px solid #F582A7;
    border-radius: 1em;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;
    
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.link--register {
    padding: 3px;
    background-color: #611765;
    color: white;
    border-radius: 6px;
    float: left;
}

.link--register a {
    color: #F582A7;
}

.sign-in-button {
    background-color: #F10086;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 6px;
    cursor: pointer;
}
